<div id="History-body">
  <main class="history-container">
    <h2>Saved Snippets</h2>

    <details class="snippet" *ngFor="let s of snippets">
      <summary class="snippet-summary">
        <div class="summary-left">
          <div class="snippet-title">{{ s.title }}</div>
          <div class="snippet-data">
            Saved on: {{ s.date }} · <span class="lang">{{ s.lang }}</span>
          </div>
        </div>
        <div class="summary-right">View</div>
      </summary>

      <div class="snippet-body">
        <pre class="code-snippet">{{ s.code }}</pre>
      </div>
    </details>

  </main>
</div>
