<!-- <div class="container mt-5 d-grid justify-content-center">
  <h2 class="text-center mb-4">Linear Search Visualization</h2>

  <div class="mb-3 text-center">
    <input type="number" [(ngModel)]="target" placeholder="Enter target value" class="form-control w-50 mx-auto">
  </div>

    <app-array-visualizer
    [array]="array"
    [code]="linearSearchCode"
    [isSorting]="false"
    [target]="target"
    (searchComplete)="onSearchComplete($event)"
    ></app-array-visualizer>

  <div class="mt-3 text-center">
    <span *ngIf="target !== null">
      Result: 
      <strong>{{ searchResult !== null ? (searchResult !== -1 ? 'Found at index ' + searchResult : 'Not found') : 'Searching...' }}</strong>
    </span>
  </div>
</div> -->
